[Unit]
Description=NVIDIA Persistence Daemon
Wants=local-fs.target

[Service]
Type=forking
StandardOutput=journal+console
StandardError=journal+console
PIDFile=/var/run/nvidia-persistenced/nvidia-persistenced.pid
Restart=always
ExecStart=/opt/bin/nvidia-persistenced --user nvidia-persistenced --persistence-mode --verbose
ExecStopPost=/bin/rm -rf /var/run/nvidia-persistenced